/**
* =============
*   CUSTOM CSS
* =============
**/

/**
* ==========
*   GLOBAL
* ==========
**/
.container {
    min-width: 150px;
}

/**
* ===================
*   CATEGORY
* ===================
**/
input.filter-input-custom {
    background-position: right 10px center;
    background-size: 18px auto;
    float: none;
    margin-bottom: 20px;
    text-indent: 0;
}
div.filter-name {
    cursor: pointer;
    margin: 15px 0;
    font-weight: bold;
}
div.filter-name .fa.fa-chevron-down,
div.filter-name .fa.fa-chevron-right {
    float: right;
    margin: 0 10px;
}
div.mCustomScrollBox {
    margin: 15px 0;
}